@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #f7f7f7;
}
.account-cont{
	width: 100%;
	height: auto;
	background: #f7f7f7;
/*	background: #FCDEC8;*/
	margin-top: 120px;
	padding: 20px;
	display: flex;
}
.profile-form{
	width: 250px;
/*	max-width: 300px;*/
	min-width: 250px;
	height: 100vh;
/*	background: #f7f7f7;*/
	border-radius: 10px;
}


.account-form{
	width: 80%;
	height: 100vh;
	background: #fff;
	margin-left: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px -1px lightgray;
	padding: 10px;
	position: relative;
}



.Selected-Item{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
/*	display: none;*/
}
.item-hero{
	width: 90px;
	height:90px;
	background: #f7f7f7;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	border: 10px solid #FCDEC8;

}

.item-hero img{
	width: 100%;

}
.Selected-Item label{
	color: #000;
	opacity: .5;
}



/*pfile*/
.profile-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.profile-show{
	display: block;
}
.header-profile{
	width: 100%;
	height: auto;
	padding: 5px 0;
	border-bottom: 2px solid #f7f7f7;
}
.header-profile h3{
	font-size: 20px;
	font-weight: bolder;
}
.header-profile small{
	font-size: 13px;
}
.Profile-from{
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px -1px lightgray;
	border-radius: 10px;
	padding: 0 15px;
	background: #f7f7f7;
/*	color: #fff;*/
	margin-top: 10px;
	font-size: 15px;
}
.Profile-from li{
	list-style:none;
	display: flex;
	flex-direction: row;
	align-items: center;
/*	background: grey;*/
	text-align: left;


	padding: 15px 0px;
}
.Profile-from label{
/*	padding-right: ;*/
	width: 150px;
/*	display: flex-end;*/
/*	text-align: right;*/
	align-items: right;
	padding-right: 20px;
	opacity: .7;
}
.Profile-from ion-icon{
	padding-right: 10px;
	font-size: 18px;
/*	color: #FF6600;*/

}
.Profile-from input{
	width: 15px;
	height: 15px;
}
.gender small{
	padding:0  15px;
}
.btn button{
	width: 110px;
	height: 40px;
	border-radius: 10px;
	border: none;
	background: #ff6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
}
.btn button:hover{
	opacity: 1;
}






/*Bank*/
.bank-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.bank-show{
	display: block;
}
.bank-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.bank-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.bank-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.bank-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.bank-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.bank-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.bank-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.bank-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.bank-btn button:hover{
	opacity: 1;
}



/*purhase section*/
.purchase-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.purchase-show{
	display: block;
}
.purchase-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.purchase-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.purchase-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.purchase-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.purchase-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.purchase-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.purchase-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.purchase-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.purchase-btn button:hover{
	opacity: 1;
}






/*notications*/
.notifications-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.notifications-show{
	display: block;
}
.notifications-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.notifications-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.notifications-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.notifications-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.notifications-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.notifications-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.notifications-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.notifications-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.notifications-btn button:hover{
	opacity: 1;
}






/*Order- Updates*/
.Order-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Order-show{
	display: block;
}
.Order-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Order-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Order-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Order-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Order-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Order-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Order-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Order-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Order-btn button:hover{
	opacity: 1;
}





/*Promo- Updates*/
.Promo-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Promo-show{
	display: block;
}
.Promo-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Promo-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Promo-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;Wallet
	margin: auto;
}
.Promo-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Promo-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Promo-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Promo-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Promo-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Promo-btn button:hover{
	opacity: 1;
}





/*Wallets-Updates*/
.Wallet-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Wallet-show{
	display: block;
}
.Wallet-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Wallet-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Wallet-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Wallet-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Wallet-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Wallet-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Wallet-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Wallet-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Wallet-btn button:hover{
	opacity: 1;
}






/*Activity-Updates*/
.Activity-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Activity-show{
	display: block;
}
.Activity-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Activity-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Activity-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Activity-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Activity-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Activity-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Activity-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Activity-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Activity-btn button:hover{
	opacity: 1;
}




/*Activity-Updates*/
.Update-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Update-show{
	display: block;
}
.Update-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Update-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Update-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Update-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Update-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Update-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Update-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Update-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Update-btn button:hover{
	opacity: 1;
}




/*Voucher-Updates*/
.Voucher-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Voucher-show{
	display: block;
}
.Voucher-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Voucher-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Voucher-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Voucher-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Voucher-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Voucher-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Voucher-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Voucher-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Voucher-btn button:hover{
	opacity: 1;
}




/*Shop Points*/
.Point-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.Point-show{
	display: block;
}
.Point-header{
	width: 100%;
	height: auto;
/*	padding: 15px;*/
/*	background: #f7f7f7;	*/
}
.Point-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.Point-from{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.Point-hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
/*	margin-top: 50px;*/
	width: 100%;
	height: 100%;
/*	background: pink;*/
	margin-top: 100px;
}
.Point-hero ion-icon{
	font-size: 90px;
	color: #FCDEC8;
}
.Point-hero label{
	font-size: 15px;
	opacity: 0.6;
}
.Point-btn{
	width: 100%;
	height: auto;
	bottom: 80px;
	border-radius: 10px;
/*	overflow: hidden;*/
	margin-top: 170px;

}
.Point-btn button{
	padding: 10px 20px;
	border: none;
	background: #FF6600;
	color: #fff;
	opacity: .8;
	font-size: 14px;
	border-radius: 10px;
}
.Point-btn button:hover{
	opacity: 1;
}






/*password*/
.password-section{
	width: 100%;
	height: auto;
	padding: 20px;
/*	background: pink;*/
	display: none;
}
.password-show{
	display: block;
}
.pass-header{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
.pass-header h3{
	font-size: 20px;
	font-weight: bolder;
}
.pass-form{
	width: 500px;
	height: auto;
	padding: 15px;
/*	background: #FC9550;*/
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow:  0 0 10px -1px lightgray;
	margin: auto;
}
.pass-form span{
	padding: 10px 0;
}
.pass-form label{
	padding-right: 10px;
	font-size: 14px;
	opacity: .7;
}
.pass-form input{
	width: 300px;
	height: 45px;
	padding-left: 10px;
	border-radius: 5px;
/*	border: none;*/
	outline-color: #FCDEC8;
	font-size: 16px;
	border:1px solid  #FCDEC8;
}
.save-pass{
	width: 100%;
	height: auto;
	padding-left: 15px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.save-pass button{
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	background: #FF6600;
	color: #fff;
	font-size: 14px;
	opacity: .7;
}
.save-pass button:hover{
	opacity: 1;
}























/*profilef*/

.profile{
	width: 100%;
	height: 200px;
	background: #ffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:10px;
/*	margin-top: 20px;*/
	border-radius: 10px;
	box-shadow: 0 0 10px -1px lightgray;
}
.user-img{
	width: 110px;
	height: 110px;
	border-radius: 100%;
	background: #f7f7f7;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 10px;
}
.user-img img{
	width: 100%;
	height: auto;

}
.user-name{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	align-items: center;
	margin-top: 15px;
/*	background: pink;*/
	font-size: 13px;
}
.user-name span{
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}
.bottom-cont{
	width: 100%;
	height: auto;
	padding: 10px;
	margin-top: 5px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px -1px lightgray;
}
.myaccount{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
.title{
	width: 100%;
	height: auto;
	padding: 2px 0;
	background: #fff;
	display: flex;
	align-items: center;
	margin-top: 10px;
	cursor: pointer;
	display: flex;
	position: relative;
}
.title span{
	font-size: 14px;
}
.title ion-icon{
	padding-right: 15px;
	font-size: 18px;
	padding-left: 10px;
}
.title:hover{
	color: #FF6600;
}
.child-account{
	width: 100%;
	height: auto;
/*	position: absolute;*/
	padding: 10px;
/*	background: pink;*/
	font-size: 14px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0px;
/*	background: pink;*/
	margin-top: -21px;
	transition: 0.1s;
/*	opacity: 0;*/
}
.toogle-account-child{
	height: auto;
	margin-top: 0px;
	transition: 0.1s;
	opacity: 1;
}
.child-account li{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 3px 0;
	padding-left: 23px;
}
.child-account a{
	text-decoration: none;
	color: #000;
	color: #000000ca;
}
.child-account a:hover{
	color: #FF6600;
}



/*notifications*/

.notif-account{
	width: 100%;
	height: auto;
/*	position: absolute;*/
	padding: 10px;
/*	background: pink;*/
	font-size: 14px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0px;
/*	background: pink;*/
	margin-top: -21px;
	transition: 0.1s;
}
.toogle-notif-child{
	height: auto;
	margin-top: 0px;
	transition: 0.1s;
}
.notif-account li{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 3px 0;
	padding-left: 23px;
}
.notif-account a{
	text-decoration: none;
	color: #000;
	color: #000000ca;
}
.notif-account a:hover{
	color: #FF6600;
}



/*hero label*/
.Selected-Item label{
		padding-top: 25px;
	}
	.purchase-hero label{
		padding-top: 25px;
	}
	.Promo-hero label{
		padding-top: 25px;
	}
	.notifications-hero label{
		padding-top: 25px;
	}
	.Wallet-hero label{
		padding-top: 25px;
	}
	.Order-hero label{
		padding-top: 25px;
	}
	.Activity-hero label{
		padding-top: 25px;
	}
	.Update-hero label{
		padding-top: 25px;
	}
	.Voucher-hero label{
		padding-top: 25px;
	}
	.Point-hero label{
		padding-top: 25px;
	}
/*hero label*/










.topnav{
/*	display: none;*/
}















@media only screen and (max-width:839px){
	.account-cont{
		flex-wrap: wrap;
/*		max-width: 500px;*/
		width: 100%;
/*		flex-direction: column;*/
/*		background: pink;*/
/*		position: relative;*/
	}
	.account-form{
		width: 100%;
		padding: 0px;
	}
	.Profile-from li{
		justify-content: left;
	}
	.profile-form{
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}
	.profile-section{
		width: 100%;
/*		padding-left:0px;*/
	}
	.pass-form{
		width: 100%;
		background: #fff;
	}
	
}

@media only screen and (max-width:569px){
	.pass-form{
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.pass-form input{
		width: 100%;
	}
	.pass-form label{
		padding-bottom: 5px;
	}
	.save-pass{
		align-items: center;
		display: flex;
		justify-content: center;
	}
}



@media only screen and (max-width:500px){
	.account-cont{
		padding: 10px;
	}
	.account-form{
		padding: 0px;
		margin-left: 0px;
	}
	.Selected-Item{
		padding: 20px;
	}
	.item-hero{
		width: 80px;
		height: 80px;
	}
	.item-hero img{
		width: 100%;
	}
	.Selected-Item label{
		font-size: 13px;
	}
	.purchase-hero label{
		margin-bottom: 100px;
	}
	.Promo-hero label{
		margin-bottom: 100px;
	}
	.notifications-hero label{
		margin-bottom: 100px;
	}
	.Wallet-hero label{
		margin-bottom: 100px;
	}
	.Order-hero label{
		margin-bottom: 100px;
	}
	.Activity-hero label{
		margin-bottom: 100px;
	}
	.Update-hero label{
		margin-bottom: 100px;
	}
	.Voucher-hero label{
		margin-bottom: 100px;
	}
	.Point-hero label{
		margin-bottom: 100px;
	}
}

@media only screen and (max-width:475px){
	.Profile-from {
	    box-shadow: none;
	    border-radius: 10px;
/*	    background: #f7f7f7;*/
	    /* color: #fff; */
	    font-size: 13px;
	    padding: 0px;
	    background: none;
	}
	.Profile-from ion-icon{
		padding-right: 5px;
		font-size: 15px;
	}
	.Profile-from label{
		width:115px ;
/*		background: pink;*/
		font-size: 12px;
	}
	.profile-section{
		padding: 10px 10px;
	}
	.profile-form{
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}
	.account-cont{
		height: auto;
		padding: 0;
	}
	.account-form{
		height: auto;
/*		max-width: 375px;*/
		width: 100%;
	}
	
}